@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: #fff;
    --black: #000;
    --light: #ECECEC;
    --faded: #ffffff80;
    --dark-line: #111;
    --dark-grey: #646464;
    --dark-grey-2: #191919;
    --faded-dark: #646464;
    --light-grey: #f7f7f7;
    --background-light: #efefef;
    --background-dark: #050505;
    --primary: #fff;
    --accent: #f7f7f7;
  }
}

.input::placeholder{
  color: var(--black);
}

@font-face {
  font-family: Manrope;
  src: url('./fonts/manrope/Manrope-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url('./fonts/manrope/Manrope-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Manrope;
  src: url('./fonts/manrope/Manrope-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Manrope;
  src: url('./fonts/manrope/Manrope-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url('./fonts/poppins/Poppins-Light.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url('./fonts/poppins/Poppins-Regular.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  src: url('./fonts/poppins/Poppins-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Poppins;
  src: url('./fonts/poppins/Poppins-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

body, main {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: Manrope, sans-serif;
}

::selection {
  background: var(--light);
  color: var(--background-dark);
}



input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-clip: text;
  -webkit-text-fill-color: var(--light);
}
